
<!DOCTYPE html>
<html lang="en">
        {%load static%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'mechanix/css/leaderboard.css' %}">
    <link rel="stylesheet" href="{% static 'mechanix/css/frame.css' %}">
    <link rel="stylesheet" href="{% static 'mechanix/css/nav.css' %}">
    <title>Quiz-Portal</title>
</head>

<body>
    <div class="top-bar">
        <div class="event-title">
            Mechanix
        </div>
        <a href = "/quiz-portal/mechanix/logout" class="logout-button">Log Out</a>
    </div>
    
    <div class="container">
        <h2>Thank You!</h2>
        <h3>Quiz is over</h3>
    </div>
</body>
</html>